# import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Constants

In [2]:
TRAINING_DATA_FILE = 'SpamData/02_Training/train-data.txt'
TEST_DATA_FILE = 'SpamData/02_Training/test-data.txt'

VOCAB_SIZE = 2500

# Read And Load features From .txt

In [3]:
sparse_train_data = np.loadtxt(TRAINING_DATA_FILE, delimiter=' ', dtype=int)

In [4]:
sparse_test_data = np.loadtxt(TEST_DATA_FILE, delimiter=' ', dtype=int)

In [5]:
sparse_train_data

array([[   0,    2,    1,    1],
       [   0,    3,    1,    2],
       [   0,    4,    1,    1],
       ...,
       [5795, 2271,    0,    1],
       [5795, 2348,    0,    1],
       [5795, 2379,    0,    1]])

# Make Full Matrix

In [32]:
def make_full_matrix(sparse_train, nr_words, doc_idx=0, word_idx=1, cat_idx=2, freq_idx=3):
    
    column_names = ['DOC_ID', 'CATEGORY'] + list(range(0, VOCAB_SIZE))
    
    doc_id_names = np.unique(sparse_train[:, 0])
    
    full_matrix = pd.DataFrame(index=index_names, columns=column_names)
    full_matrix.fillna(value=0, inplace=True)
    
    for i in range(sparse_train.shape[0]):
        
        doc_nr = sparse_train[i][doc_idx]
        word_id = sparse_train[i][word_idx]
        label = sparse_train[i][cat_idx]
        occurrence = sparse_train[i][freq_idx]
        
        full_matrix.loc[doc_nr,'DOC_ID'] = doc_nr
        full_matrix.loc[doc_nr,'CATEGORY'] = label
        full_matrix.loc[doc_nr, word_id] = occurrence
        
    
    
    full_matrix.set_index('DOC_ID', inplace=True)
        
    return full_matrix

In [33]:
%%time
full_train_data = make_full_matrix(sparse_train_data, VOCAB_SIZE)

CPU times: user 1min 48s, sys: 351 ms, total: 1min 48s
Wall time: 1min 48s

In [34]:
full_train_data

,CATEGORY,0,1,2,3,4,5,6,7,8,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,1,0,0,1,2,1,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
1,1,7,1,2,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,6,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6,0,0,2,4,0,3,14,0,...,0,0,0,0,0,0,0,0,0,0
4,1,5,1,2,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,0,3,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5790,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5791,0,3,1,0,1,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
5794,0,1,1,1,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5795,0,3,4,2,0,5,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0

 # Calculating the Probability of Spam

In [35]:
prob_spam = full_train_data['CATEGORY'].sum() / full_train_data['CATEGORY'].size
prob_spam

0.310989284824321

# Calculating Totoal Number of Words

In [36]:
full_train_features = full_train_data.loc[:, full_train_data.columns != 'CATEGORY']
full_train_features

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,2,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,0,0,2,4,0,3,14,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,3,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5790,1,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5791,3,1,0,1,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
5794,1,1,1,0,0,1,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5795,3,4,2,0,5,0,3,0,0,4,...,0,0,0,0,0,0,0,0,0,0

In [38]:
email_lengths = full_train_features.sum(axis=1)
email_lengths

DOC_ID
0        87
1        53
2        40
3       183
4        43
       ...
5789     18
5790     72
5791     46
5794     57
5795    264
Length: 4013, dtype: int64

In [39]:
total_wc = email_lengths.sum()
total_wc

429184

In [44]:
spam_length = email_lengths[full_train_data['CATEGORY'] == 1]
spam_wc = spam_length.sum()
spam_wc

176318

In [46]:
ham_length = email_lengths[full_train_data['CATEGORY'] == 0]
nonspam_wc = ham_length.sum()
nonspam_wc

252866